
<div class="d-flex navbar-custom flex-column align-items-left box-shadow">
  <a class="mb-3" [routerLink]="['/']"><img id="tallyLogo" src="../assets/img/shoppingtally.png" class="animate__animated animate__lightSpeedInLeft" /></a>
  <div class="mainLinks">-Home</div>
  <app-nav-menu-link [hello]="links" *ngIf="route === '/'" class="subLinks"></app-nav-menu-link>
  <div class="mainLinks">-List</div>
  <app-nav-menu-link [hello]="links" *ngIf="route === '/list'" class="subLinks"></app-nav-menu-link>
  <div class="mainLinks">-Schedule</div>
  <app-nav-menu-link [hello]="links" *ngIf="route === '/schedule'" class="subLinks"></app-nav-menu-link>
  <div class="mt-5 d-flex justify-content-around align-content-around">
    <img src="../../../assets/img/facebook.png" class="icons"/>
    <img src="../../../assets/img/instagram.png" class="icons"/>
    <img src="../../../assets/img/twitter.png" class="icons"/>
  </div>
</div>

