

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  
}


.box-shadow {
  box-shadow: 5px 7px 20px 10px rgba(0, 0, 0, .05);
}

.navbar-custom {
  position:fixed;
  background: linear-gradient(120deg, rgba(255,239,218,1) 0%, rgba(255,225,184,1) 100%);
  width: 200px;
  height: 700px;
}

#tallyLogo{
    height:60px;
}

.subLinks {
  margin-left: 20px;
  font-family: Flamenco;
  font-size: 17px;
}


.mainLinks {
  font-family: Flamenco;
  font-size: 20px;
  margin-left:10px;
}

.icons{
    height:auto;
    width:30px;
}



@media only screen and (max-width: 576px) {
  .navbar-custom {
    width:100px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 15px;
  }
}




