.container-fluid{
    background-color:aliceblue;
    margin-left:230px;
    width:85%;
}
 /* .container{
    width:70%;
    margin-left: 250px;
  }*/

@media (max-width: 576px) {
  .container {
    margin-left:100px;
  }
}


