<div class="container-fluid">
  <app-testimonials class="d-flex justify-content-end"></app-testimonials>
  <app-why-shopping-tally></app-why-shopping-tally>
  <app-how-it-works></app-how-it-works>
</div>
