/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '~animate.css/animate.min';

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background: linear-gradient(90deg, rgba(109,136,111,1) 0%, rgba(143,163,135,1) 13%, rgba(159,168,142,1) 25%, rgba(191,179,157,1) 49%, rgba(159,168,142,1) 77%, rgba(143,163,135,1) 88%, rgba(109,136,111,1) 100%);
}
