body{
    margin: 0px;
    padding: 0px;
}

video{
    width: 100%;
}

.slogan {
    position: absolute;
    top: 40vw;
    z-index:1;
    width: 60vw;
    background-color: rgb(201,245,217,.8);
    border-radius: 10px;
    font-size: 3vw;
    overflow-wrap: break-word;
    padding: 2%;
    margin-left: 1%;
    box-shadow: 10px 10px 30px;
}

.serviceImage1 {
    position: absolute;
    height: 30vw;
    border-radius: 10px;
    box-shadow: -5px 0px 20px -10px;
    left:20%;
}

    .serviceImage1:hover {
        box-shadow: -10px 0px 20px -10px;
        transform: translate(0px,-10px)
    }

.serviceImage2 {
    position: absolute;
    height: 30vw;
    left: 30%;
    border-radius: 10px;
    box-shadow: -5px 0px 20px -10px;
}

    .serviceImage2:hover {
        box-shadow: -10px 0px 20px -10px;
        transform:translate(0px,-10px)
    }

.serviceImage3 {
    position: absolute;
    height: 30vw;
    left: 40%;
    border-radius: 10px;
    box-shadow: -5px 0px 20px -10px;
}

.serviceImage3:hover {
    box-shadow: -10px 0px 20px -10px;
    transform: translate(0px,-10px)
}

.serviceImage4 {
    position: absolute;
    height: 30vw;
    left: 50%;
    border-radius: 10px;
    box-shadow: -5px 0px 20px -10px;
}

.serviceImage4:hover {
    box-shadow: -10px 0px 20px -10px;
    transform: translate(0px,-10px)
}

.serviceImage5 {
    position: absolute;
    height: 30vw;
    left: 60%;
    border-radius: 10px;
    box-shadow: -5px 0px 20px -10px;
}

.serviceImage5:hover {
    box-shadow: -10px 0px 20px -10px;
    transform: translate(0px,-10px)
}
.imageContainer {
    height: 45vw;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(218,231,189), rgb(201,212,189));
}
.meet{
    border-radius: 100%;
}