
<div class="container">
  <div class="title">How it works!</div>
  <div class="row gx-2 gy-2">
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6">
      <div class="textContainer">
        Simply download the AnyList app for free from either the Apple or Google store. There is also an optional upgraded version at $9.99 for the year and will even provide pictures of the items you listed.
        <div class="backgroundNum">1</div>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-2 col-md-6">
      <div class="textContainer">
        Book your appointment on the website for an allotted time. You can see my availability at any given time. If you see that the time you're looking for is already taken and you need it earlier please text me and I'm sure I will be able fit you in.
        <div class="backgroundNum">2</div>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
      <div class="textContainer">
        Fill out your grocery list and then share it with me via email. The good thing about the AnyList app is that it can save your favorites and if you update or add to your list before I start shopping it will automatically share on my end. (Helpful Tips) You can talk to text your items and for the more tech savvy you can actually link it with Siri or Alexa.
        <div class="backgroundNum">3</div>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
      <div class="textContainer">
        I shop your order keeping your best interest in hand and learning your personal shopping traits to get you the best deals available. The website will have Publix's top BOGOs for the week, but you can also go onto the Publix app to find all of the savings for the week.
        <div class="backgroundNum">4</div>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-12 col-lg-12 col-md-12">
      <div class="textContainer">
        I then checkout and pay for the order and on my way there I will let you know the cost including the fee. This does not include a tip but is obviously optional. You can then reimburse me through either Venmo, Zelle, Apple Pay, Cash or a Personal Check.
        <div class="backgroundNum">5</div>
      </div>
    </div>
  </div>
</div>

