

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:100px;
}


.row {
  width: 100%;
}

.backgroundNum {
  position: absolute;
  font-size: 100px;
  left: 37%;
  top: 0;
  opacity:.15;

}

.textContainer {
  position: relative;
  font-family: Flamenco;
  font-size: 20px;
  background-color: rgb(240,218,186);
  padding:10px;
  border-radius:20px;
}

.title {
  font-size: 70px;
  font-family: Flamenco;
  color: rgb(88,112,91);
}


