
<div class="container">
  <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" >
    <ng-template ngbSlide *ngFor="let instance of descriptions; let i = index;">
      <div class="carousel-caption">
        <div>{{instance.description}}</div>
      </div>
      <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img src={{instance.image}} alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
 </div>


