

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: auto;
  padding-top: 40%; /* Keep ratio for 900x500 images */
  width: 100%;
  background-color: rgb(240,218,186);
  border-radius:20px;
}

  ngb-carousel .picsum-img-wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:auto;
    
  }

  .container{
      width:70%;
  }

  .carousel-caption{
      z-index:1;
      font-size:25px;
  }


@media screen and (max-width: 990px) {
  .carousel-caption {
    font-size: 20px;
  }

  .container {
    width: 100%;
    background-color: blue;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption {
    font-size: 15px;
  }
}


