
<form class="inputContainer">
  <input type="text" #stock class="inputStock" placeholder="Search for a stock"/>
  <input type="submit" value="Submit" (click)="sendInput(stock.value)"/>
</form>

<div *ngFor="let item of test">
  <div class="stockSymbol d-flex align-items-between">
    <div style="margin-right:20px;">{{item.T}}</div>
    <div>{{item.c}}</div>
  </div>
  <div class="d-flex justify-content-center align-items-center align-items-center ">
    <div class="stockNumbersContainer ">
      <div>Volume</div>
      <div>{{item.v}}</div>
    </div>
    <div class="stockNumbersContainer">
      <div>Volume Weighted</div>
      <div>{{item.vw}}</div>
    </div>
    <div class="stockNumbersContainer">
      <div>Open Price</div>
      <div>{{item.o}}</div>
    </div>
    <div class="stockNumbersContainer">
      <div>Closing Price</div>
      <div>{{item.c}}</div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center align-content-center ">
    <div class="stockNumbersContainer">
      <div>Highest Price</div>
      <div>{{item.h}}</div>
    </div>
    <div class="stockNumbersContainer">
      <div>Lowest Price</div>
      <div>{{item.l}}</div>
    </div>
    <div class="stockNumbersContainer">
      <div>Timestamp</div>
      <div>{{item.t}}</div>
    </div>
    <div class="stockNumbersContainer">
      <div>Number of Transactions</div>
      <div>{{item.n}}</div>
    </div>
  </div>
</div>
