.inputStock{
    width:50%;
    align-content:center;
    margin-right:5px;
}

.stockSymbol{
    font-size:50px;
    font-family:'Century Gothic';
    width:20%;
}

.stockNumbersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 20%;
  background: linear-gradient(90deg, rgba(162,195,185,1) 0%, rgba(149,218,218,1) 47%, rgba(162,195,185,1) 100%);
  margin-right: 5px;
  margin-top: 5px;
  font-family: 'Century Gothic';
  height: 200px;
  border-radius:10px;
}
