.header {
  position: relative;
  cursor: pointer;
}


.line {
  height: 2px;
  width: 100%;
  position:absolute;
  top:22px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform ease-in;
  background: rgb(150,153,127);
  background: linear-gradient(90deg, rgba(150,153,127,1) 0%, rgba(88,112,91,1) 100%);
}
