<nav *ngFor="let link of hello; let i = index" (mouseover)="test(i)" (mouseout)="test2(i)" class="header" >
  {{link.linkName}}
  <div class="line" [@test]="link.state ? 'see' : 'noSee'"></div>

</nav>

