
<div class="container d-flex flex-column">
  <div class="hContainer">
    <div class="testContainer one d-flex flex-column justify-content-center align-items-center " data-aos="flip-up">
      <div class="divider"></div>
      <div class="textContainer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150o make a type specimen book.</div>
      <div class="divider"></div>
      <img class="fruit" src="../../../assets/img/watermelon.png" />
      <div class="name">Arlen Fleurette</div>
    </div>
  </div>
  <div class="hContainer">
    <div class="testContainer d-flex flex-column justify-content-center align-items-center" data-aos="flip-up">
      <div class="divider"></div>
      <div class="textContainer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem  an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
      <div class="divider"></div>
      <img class="fruit" src="../../../assets/img/banana.png" />
      <div class="name">Nolene Lynn</div>
    </div>
  </div>
  <div class="hContainer">
    <div class="testContainer d-flex flex-column justify-content-center align-items-center align-content-center" data-aos="flip-up">
      <div class="divider"></div>
      <div class="textContainer">Lorem Ipsum is simply dummy text of the printing and  type specimen book.</div>
      <div class="divider"></div>
      <img class="fruit" src="../../../assets/img/orange.png" />
      <div class="name">Joe Haylee</div>
    </div>
  </div>
  <div class="hContainer">
    <div class="testContainer strawberry d-flex flex-column justify-content-center align-items-center" data-aos="flip-up">
      <div class="divider"></div>
      <div class="textContainer">Lorem Ipsum is simply dummy text of the printing and ty when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
      <div class="divider"></div>
      <img class="fruit" src="../../../assets/img/strawberry.png" />
      <div class="name">Amery Sabella</div>
    </div>
  </div>
</div>

