.hContainer{
    display:flex;
    justify-content:center;
}

.textContainer {
  width: 100%;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  background-color: rgb(255,229,195,.8);
  border-radius: 10px;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.testContainer {
  max-width: 70%;
  margin-bottom: 120px;
  font-family: Flamenco;
  position: relative;

  margin-right:20px;
}

.testContainer.strawberry{
    margin-top:30px;
}


.divider {
  height: 2px;
  width: 3%;
  background-color: rgb(116,142,116);
  margin-top: 2%;
  margin-bottom: 2%;
  z-index: 1;
}

.name {
  font-size: 25px;
  z-index: 1;
  
}


.fruit{
    position:absolute;
    z-index:0;
}

.container{
    width:100%;
   
}



