﻿@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/test.css">
</head>
<div class="slogan display-6">Compassionate care for your companion.</div>
<video autoplay class="img-fluid position-relative" style="height:auto;" loop>
    <source src="~/Media/video.mp4" type="video/mp4">
</video>

<div class="container d-flex flex-column mt-3 p-4 align-items-center">
    <div class="display-4">Meet Some Whiskers</div>
    <div class="container mt-3 d-flex justify-content-space-between">
        <div class="row">
            <div class="col-6 align-self-center">
                <video autoplay width="1080" class="img-fluid meet" loop>
                    <source src="~/Media/cat.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-6 mt-3 align-self-center h3 align-text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </div>
    </div>
    <div class="container mt-3 d-flex justify-content-space-between">
        <div class="row">
            <div class="col-6 mt-3 align-self-center h3 align-text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
            <div class="col-6 align-self-center">
                <video autoplay width="1080" class="img-fluid meet" loop>
                    <source src="~/Media/cat2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>

<div class="imageContainer">
    <div style="text-align:center;" class="display-4 mb-2 pt-2">Services</div>
    <img src="~/media/serviceImageCycle.jpg" class="serviceImage1" />
    <img src="~/media/serviceImageCycle.jpg" class="serviceImage2" />
    <img src="~/media/serviceImageCycle.jpg" class="serviceImage3" />
    <img src="~/media/serviceImageCycle.jpg" class="serviceImage4" />
    <img src="~/media/serviceImageCycle.jpg" class="serviceImage5" />
</div>

<div class="container d-flex flex-column align-items-center mt-3 p-4">
    <div class="display-4 text-black mb-3">Meet the Staff</div>
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <img src="~/Media/man.png">
            <p class="display-6">Greg</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <img src="~/Media/man.png">
            <p class="display-6">Carl</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <img src="~/Media/woman.png">
            <p class="display-6">Cynthia</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <img src="~/Media/woman.png">
            <p class="display-6">Jennifer</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <img src="~/Media/man.png">
            <p class="display-6">Joe</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <img src="~/Media/woman.png">
            <p class="display-6">Amy</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>   
    </div>
</div>




<div class="d-flex flex-column align-items-center mt-3 p-4" style="background-image: linear-gradient(to bottom right, rgb(218,231,189), rgb(201,212,189));">
    <div class="display-4" style="color:rgb(37,54,35);">Message Us!</div>
    <form action="">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" ><br>
        <label for="lname">Message:</label><br>
        <textarea rows="4" cols="50" name="comment" form="usrform">Enter message here...</textarea><br>
        <input type="submit" value="Submit">
    </form>
</div>





